/* Global */

@import url('https://fonts.google.com/specimen/Nunito?query=ni');
*{
    font-family: 'Nunito', sans-serif;
    color:white;
}

:root{
    --bg-color:#022433;
}

/* Video */

#myVideo{
    position: fixed;
    left:0;
    height:100%;
    width: 100%;
    object-fit: fill;
}

.videoLayer{
    position: fixed;
    background-color: rgba(2, 36, 51, 0.8);
    width: 100%;
    height:100%;
    left: 0;
}

/* Navbar */

body{
    background-color: #022433;
}

.navbar{
    width:100%;
    height:70px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #022433;
    display: flex;
    flex-direction: row;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.logocontainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    min-width:150px;
    justify-content:flex-start;
    margin-left: 50px;
}

#menu-icon{
    color:#ffffff;
    font-size: 0px;
    cursor:pointer;
    visibility:hiddne;
}

.teamLogo{
    width: 90%;
    margin: 0;
    align-items: center;
    vertical-align: middle;
}

.navTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-right:2%;
    height:100%;
    margin-right: 1%;
    visibility:visible;
}


@media only screen and (max-width: 750px){
    #menu-icon{
        font-size: 40px;
        visibility:visible;
    }
    .navTeam{
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: auto;
        top: 74px;
        visibility:hidden;
        z-index: 9999;
    }
    .navLine{
        visibility: hidden;
        height: 0;
    }
    .navMember{
        background-color:#022433;
        padding: 10px;
        width: 100%;
        text-align: center;
        border-bottom: #ffffff;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #0a6756;
        opacity: 99%;
    }
    .navTeam a:hover{
        background-color: #22AD73;
        color: white;
    }
}

.navMember{
    margin:auto;
    font-size: 14pt;
    font-weight: 400;
    text-decoration: none;
}

.navMember:hover{
    color: #22AD73;
}


.navHeading{
    font-weight: 800;
}


.navLine{
    margin:0%;
    font-size: 18pt;
}

.navIcon{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 10%;
    margin-right: 50px;
    align-items: center;
    height:100%;
}

.contactBtn{
    object-fit: cover;
    height:60%;
}

.contactBtn:hover{
    filter: invert(50%) sepia(97%) saturate(313%) hue-rotate(103deg) brightness(90%) contrast(100%);
    cursor: pointer;
}

.hr{
    position: fixed;
    top: 62px;
    left: 0px;
    width: 100%;
    border: 2px solid white;
    z-index: 2;
}

/* Main Body */

.mainBody{
    position:absolute;
    top: 74px;
    left:0%;
    width: 100%;
    height: calc(100% - 74px);
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainContainer{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Sidebar */

.sideBar{
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 0px;
    justify-content: space-between;
    position: relative;
}

.nameContainer{
    position: relative;
    width: 100%;    
    display:flex;
    flex-direction: row;
}

.memberName{    
    font-size: calc(40pt + 3vw);
    font-weight: 800;
    line-height: 110%;
}

.treeIcon{
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:flex-end;
}

.tree{
    object-fit:fill;
    width: 70%;
    padding-bottom: 20%;
}

.profileContainer{
    width: 100%;
    position:relative;
    flex-grow: 1;
}

.profileBg{
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg, #22AD73 0%, #038090 100%);
    border-radius: calc(5px + 1.5vw) calc(5px + 1.5vw) 0px 0px ; 
    position: absolute;
}

.memberPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute; 
    bottom: 0;
    border-radius: calc(5px + 1.5vw) calc(5px + 1.5vw) 0px 0px;
    cursor: pointer;
}

/* Personal Detail */

.information{    
    width: 70%;
    height: calc(100% - 60px);
    margin-left: 4vw;
    flex-grow: 1;
    padding: 30px 0px 30px 0px;
    display: grid;
    row-gap: 2vw;
    column-gap: 2vw;
    grid-template:
    "a b" 5fr
    "c c" 5fr
    "d d" 1fr
    ;
    grid-template-columns: 1fr 1fr;
}

.infoBoxA{
    grid-area:a;
}
   
.infoBoxB{
    grid-area:b;
}

.infoBoxC{
    grid-area:c;
}

.socialMedia{
    grid-area:d;
    display: flex;
    flex-direction: row;
    padding: 0px 0vw 0px 0vw;
    justify-content: space-between;
    gap:2vw;
    min-height: 6vh;
}

@media only screen and (min-width: 750px) and (max-width: 1000px){
    .information{
        display: grid;
        grid-template:
        "a a" 3fr
        "b b" 3fr
        "c c" 3fr
        "d d" 0.8fr
        ;
    }
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0vw 0px 0px;
}

.infoBorderTop{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2vw 0 2vw 0;
}

.topCorner{
    position:absolute;
    top: 1vw;
    left: 0;
    width: calc(24px + 0.5vw);
    aspect-ratio: 1/1;
}

.bottomCorner{
    position: absolute;
    bottom: 1vw;
    right: 0;
    width: calc(24px + 0.5vw);
    aspect-ratio: 1/1;
}

.infoTitle{
    margin: 10px 3vw 10px 3vw;
    font-size: calc(10pt + 0.5vw);
    font-weight: 800;
    width: 80%;
    text-align: center;
}

.infoBody{
    margin: 10px 3vw 10px 3vw;
    font-size: calc(8pt + 0.5vw);
    text-align: center;
    line-height: 150%;
    width: 80%;
}

/* Personal Detail (Education) */

.infoYear{
    font-weight: 800;
    color: #22AD73;
}

.infoProgram{
    font-style: italic;
    
}

/* Personal Detail (Hobbies) */

.infoBodyContainerA{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.infoIconContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    gap: 0.5vw;
}

.infoIcon{
    width: 80%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoIcon img{
    width: 90%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
}

.infoIconContainer p{
    font-size: calc(2pt + 0.8vw + 0.1em);
    vertical-align:text-top;
    text-align: center;
    margin: 0;
}

/* Personal Detail (Project) */

.infoBodyContainerB{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.infoBorderBottom{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    padding: 2vw 0 2vw 0;
    gap: 2vw;
}

.infoProject{
    width: 50%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1vw;
}

.infoProjectPic{
    width: 50%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px){
    .infoProject{
        width: 100%;
    }
    .infoProjectPic{
        visibility:hidden;
        position: absolute;
    }
}

.project{
    width: 7vw;
    aspect-ratio: 1/1;
    border-radius: calc(5px + 1vw);
    border-style:  solid;
    border-color: #ffffff;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project a{
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
}

.project:hover{
    background-color: #ffffff;
}

.project:hover a{
    color:#22AD73;
}

.projectThumbnail{
    width: calc(100% - 4vw);
    max-height:13em;
    object-fit: cover;
    border-radius: calc(4px + 1vw);
    border-color: #ffffff;
    border-width: calc(1pt + 0.2vw);
    opacity: 20%;
}

.projectDesc{
    font-size: 1vw;
    overflow-wrap: break-word;
    font-size: calc(6pt + 0.5vw);
    margin: 1vw;
    font-weight: 800;
    opacity: 20%;
}

/* Social Media Buttons */

.socialBtn{
    height: calc(100% - 4px);
    width: 30%;
    flex-grow: 1;
    border-radius: 100px;
    border-color: #22AD73;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.socialBtn:hover{
    background-color: #22AD73;
}

.socialBtn:hover .socialIcon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
}

.socialIcon{
    height: 60%;
    aspect-ratio: 1/1;
}

/* Mobile View */
@media only screen and (min-width: 750px) and (max-width: 1000px){
    .infoIconContainer p{
        font-size: calc(6pt + 0.8vw);
        margin-top: 20px;
    }
}
@media only screen and (max-width: 750px){
    .mainBody{
        min-height:800px;
        min-width: 250px;
    }
    .mainContainer{
        flex-direction: column;
    }
    .nameContainer{
        justify-content:space-around;
    }
    .memberName{    
        font-size: 12vw;
        flex-grow: 1;
        text-align: center;
        padding-bottom: 5%;
    }
    .treeIcon{
        display: none;
    }
    .profileContainer{
        min-height: calc(120px + 60vw);
    }
    .information{        
        margin: 20px 0 0px 0;
        width: 100%;
        height: 100%;
        grid-template:
        "a a" 1fr
        "b b" 1fr
        "c c" 1fr
        "d d" 1fr
        ;
        row-gap: calc(8pt + 5vw);
        grid-template-columns: 1fr;
    }
    .infoIconContainer p{
        font-size: calc(8pt + 0.8vw);
        margin-top: 30px;
    }
    .project{
        min-width: 10vw;
    }
    .project a{
        font-size: calc(8pt + 2vw);
    }
    .socialMedia{
        flex-direction: column;
        height: 100%;
        min-height: 140px;
        gap:10px;
    }
    .socialBtn{
        width: calc(100% - 4px);
        height: 40px;
        min-width: 60px;
    }
}

@media only screen and (max-width: 500px){
    .infoBodyContainerA{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    .infoIconContainer{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width: 100%;
        margin-top: 0px;
    }
    .infoIcon{
        width: 45%;
        justify-content:flex-end;
    }
    .infoIcon img{
        height: 90%;
        width: auto;
        aspect-ratio: 1/1;
        object-fit: fit;
        margin-right: 10px;
    }

    .infoIconContainer p{     
        width: 55%;  
        text-align: left;
        margin: 0;
    }
}

/* Animation */

.nameContainer{
    opacity: 0;
    animation: fadeinA 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeinA {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.profileContainer{
    opacity: 0;
    animation: fadeinB 2.5s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes fadeinB {
    from {transform: translate(0,5vw);}
    to {transform: translate(0,0);}
    from { opacity: 0; }
    to   { opacity: 1; }
}

.infoBoxA{
    opacity: 0;
    animation: fadeinA 2.5s;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;
}

.infoBoxB{
    opacity: 0;
    animation: fadeinA 2.5s;
    animation-delay: 3.2s;
    animation-fill-mode: forwards;
}

.infoBoxC{
    opacity: 0;
    animation: fadeinA 2.5s;
    animation-delay: 4.1s;
    animation-fill-mode: forwards;
}

.socialMedia{
    opacity: 0;
    animation: fadeinA 2.5s;
    animation-delay: 5.0s;
    animation-fill-mode: forwards;
}

@media only screen and (min-width:750px){
    body{
        overflow: hidden;
        animation: scrolling 0s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
    }

    @keyframes scrolling {
        from {overflow: hidden;}
        to {overflow:auto;}
    }
}

/* Picture Frame */
.pictureFrame {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
  }
  
.fullPicture {
    margin: auto;
    display: block;
    height: 90%;
    max-width: 90%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover{
    color:#22AD73;
    text-decoration: none;
    cursor: pointer;
}
