/* Global */

@import url('https://fonts.google.com/specimen/Nunito?query=ni');
*{
    font-family: 'Nunito', sans-serif;
    color:white;
}

:root{
    --bg-color:#022433;
}

/* Video */

#myVideo{
    position: fixed;
    left:0;
    height:100%;
    width: 100%;
    object-fit: fill;
}

.videoLayer{
    position: fixed;
    background-color: rgba(2, 36, 51, 0.8);
    width: 100%;
    height:100%;
    left: 0;
}

/* Navbar */

body{
    background-color: #022433;
}

.navbar{
    width:100%;
    height:70px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #022433;
    display: flex;
    flex-direction: row;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.logocontainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    min-width:150px;
    justify-content:flex-start;
    margin-left: 50px;
}

#menu-icon{
    color:#ffffff;
    font-size: 0px;
    cursor:pointer;
    visibility:hiddne;
}

.teamLogo{
    width: 90%;
    margin: 0;
    align-items: center;
    vertical-align: middle;
}

.navTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-right:2%;
    height:100%;
    margin-right: 1%;
    visibility:visible;
}


@media only screen and (max-width: 750px){
    #menu-icon{
        font-size: 40px;
        visibility:visible;
    }
    .navTeam{
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: auto;
        top: 74px;
        visibility:hidden;
        z-index: 9999;
    }
    .navLine{
        visibility: hidden;
        height: 0;
    }
    .navMember{
        background-color:#022433;
        padding: 10px;
        width: 100%;
        text-align: center;
        border-bottom: #ffffff;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #0a6756;
        opacity: 99%;
    }
    .navTeam a:hover{
        background-color: #22AD73;
        color: white;
    }
}

.navMember{
    margin:auto;
    font-size: 14pt;
    font-weight: 400;
    text-decoration: none;
}

.navMember:hover{
    color: #22AD73;
}


.navHeading{
    font-weight: 800;
}


.navLine{
    margin:0%;
    font-size: 18pt;
}

.navIcon{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 10%;
    margin-right: 50px;
    align-items: center;
    height:100%;
}

.contactBtn{
    object-fit: cover;
    height:60%;
}

.contactBtn:hover{
    filter: invert(50%) sepia(97%) saturate(313%) hue-rotate(103deg) brightness(90%) contrast(100%);
    cursor: pointer;
}

.hr{
    position: fixed;
    top: 62px;
    left: 0px;
    width: 100%;
    border: 2px solid white;
    z-index: 2;
}

/* Main Body */

.mainBody{
    position:absolute;
    top: 74px;
    left:0%;
    width: 100%;
    height: calc(100% - 74px);
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainContainer{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Sidebar */

.sideBar{
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 0px;
    justify-content: space-between;
    position: relative;
}

.nameContainer{
    position: relative;
    width: 100%;    
    display:flex;
    flex-direction: row;
}

.memberName{    
    font-size: calc(40pt + 2vw);
    font-weight: 800;
    line-height: 110%;
}

.profileContainer{
    width: 100%;
    position:relative;
    flex-grow: 1;
}

.profileBg{
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg, #22AD73 0%, #038090 100%);
    border-radius: calc(5px + 1.5vw) calc(5px + 1.5vw) 0px 0px ; 
    position: absolute;
}

.memberPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute; 
    bottom: 0;
    border-radius: calc(5px + 1.5vw) calc(5px + 1.5vw) 0px 0px;
    cursor: pointer;
}

/* Personal Detail */

.year{
    color: #22AD73;
}

.bold{
    font-weight: 800;
}

.detailsContainer{
    margin: 5%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.educationContainer {
    border-width: 6px;
    border-style: solid;
    border-color: #22ad73;
    border-radius: 25px;
    padding: 5%;
}

.hobbiesContainer{
    margin-top: 10%;
    border-width: 6px;
    border-style: solid;
    border-color: #22ad73;
    border-radius: 25px;
    padding: 5%;
}

.iconsContainer{
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.icons{
    width: 100px;
    height: 100px;
}

.socialMedia{
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: space-evenly;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display:none;
  }

  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: #22AD73;
  }

  .numbertext {
    color: #022433;;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    margin-top: 10%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #22AD73;
  }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.imgAdjust{
    width: 100%;
    object-fit: cover;
}

.slideshow{
    display: flex;
    margin-top: 5%;
}

.slideshowButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

@media only screen and (min-width: 750px) and (max-width: 1000px){
    .infoIconContainer p{
        font-size: calc(6pt + 0.8vw);
        margin-top: 20px;
    }
}
@media only screen and (max-width: 750px){
    .mainBody{
        min-height:800px;
        min-width: 250px;
    }
    .mainContainer{
        flex-direction: column;
    }
    .nameContainer{
        justify-content:space-around;
    }
    .memberName{    
        font-size: 12vw;
        flex-grow: 1;
        text-align: center;
        padding-bottom: 5%;
    }
    .profileContainer{
        min-height: calc(120px + 60vw);
    }
}