/* Global */

@import url('https://fonts.google.com/specimen/Nunito?query=ni');
*{
    font-family: 'Nunito', sans-serif;
    color:white;
}

:root{
    --bg-color:#022433;
}

/* Video */

#myVideo{
    position: fixed;
    left:0;
    height:100%;
    width: 100%;
    object-fit: fill;
}

.videoLayer{
    position: fixed;
    background-color: rgba(2, 36, 51, 0.8);
    width: 100%;
    height:100%;
    left: 0;
}

/* Navbar */

body{
    background-color: #022433;
}

.navbar{
    width:100%;
    height:70px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #022433;
    display: flex;
    flex-direction: row;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.logocontainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    min-width:150px;
    justify-content:flex-start;
    margin-left: 50px;
}

#menu-icon{
    color:#ffffff;
    font-size: 0px;
    cursor:pointer;
    visibility:hiddne;
}

.teamLogo{
    width: 90%;
    margin: 0;
    align-items: center;
    vertical-align: middle;
}

.navTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-right:2%;
    height:100%;
    margin-right: 1%;
    visibility:visible;
}


@media only screen and (max-width: 750px){
    #menu-icon{
        font-size: 40px;
        visibility:visible;
    }
    .navTeam{
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: auto;
        top: 74px;
        visibility:hidden;
        z-index: 9999;
    }
    .navLine{
        visibility: hidden;
        height: 0;
    }
    .navMember{
        background-color:#022433;
        padding: 10px;
        width: 100%;
        text-align: center;
        border-bottom: #ffffff;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #0a6756;
        opacity: 99%;
    }
    .navTeam a:hover{
        background-color: #22AD73;
        color: white;
    }
}

.navMember{
    margin:auto;
    font-size: 14pt;
    font-weight: 400;
    text-decoration: none;
}

.navMember:hover{
    color: #22AD73;
}


.navHeading{
    font-weight: 800;
}


.navLine{
    margin:0%;
    font-size: 18pt;
}

.navIcon{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 10%;
    margin-right: 50px;
    align-items: center;
    height:100%;
}

.contactBtn{
    object-fit: cover;
    height:60%;
}

.contactBtn:hover{
    filter: invert(50%) sepia(97%) saturate(313%) hue-rotate(103deg) brightness(90%) contrast(100%);
    cursor: pointer;
}

.hr{
    position: fixed;
    top: 62px;
    left: 0px;
    width: 100%;
    border: 2px solid white;
    z-index: 2;
}

/* Main Body */

body{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	align-items: center;
	justify-content: center;
}

.memberName {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 40px;

}

.mainBody{
    position:absolute;
    top: 74px;
    left:0%;
    width: 100%;
    height: calc(100% - 74px);
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mainContainer {
     width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: calc(10px + 1vw);
    margin-bottom: calc(10px + 3vw);
}

.leftContainer{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    
}

h1 {
    width: calc(100% - 100px);
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

p { 
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
}


.memberName{    
    font-size: calc(40pt + 3vw);
    font-weight: 700;
    line-height: 110%;
}

.memberPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute; 
    bottom: 0;
    border-radius: calc(5px + 1.5vw) calc(5px + 1.5vw) 0px 0px;
    cursor: pointer;
}

.teamMember{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: calc(10px + 1vw);
    margin-bottom: calc(10px + 3vw);
}

.member{    
    margin-top: calc(10px + 2vw);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.rev{
    flex-direction: column-reverse;
}

/* Body*/

.mainBody{
    position:absolute;
    top: 74px;
    left:0%;
    width: 100%;
    height: calc(100% - 74px);
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
	flex: 30%;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 20px;
	background-color: #22ad736d;
	color: #fff;
	padding: 30px 30px;
    
	border-radius: 20px;
}

.box img{
	border-radius: 20%;
	border: 5px solid #fff;
	height: 350px;
	width: 250px;
}


.row1 {
    display: flex;
 
    flex-wrap: wrap;
    flex-direction: row;
        padding: 60px;
  }
  
  .column {
    display: flex;
      justify-content: center;
      flex-direction: column;
    text-align: center;
    padding: 50px;
    border: #ffffff;
  }

  .column1  {
    display: flex;
      justify-content: center;
      flex-direction: column;
    text-align: center;
    padding: 50px;
  
  }

  .Picture1 {
       border: #ffffff;
  }


.socialBtn{
    height: calc(100% - 2px);
    width: 20%;
    flex-grow: 1;
    border-radius: 100px;
    border-color: #22AD73;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 30px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}


.socialBtn:hover{
    background-color: #22AD73;
}

.socialBtn:hover .socialIcon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
}

.socialIcon{
    display: flex;
        flex-direction: column;
    justify-content: center;
    height: 60%;
    aspect-ratio: 1/1;
}

.sideBar{
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    justify-content: space-between;
    position: relative;
}



div.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

img2 {
    height: 400px;
    width: 300px;
    object-fit: cover;
   
}

.buttons {
    display: flex;
    height: calc(100% - 2px);
    width: 10%;
    flex-grow: 1;
    border-radius: 100px;
    border-color: #22AD73;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



div.buttons {
    margin-top: 15px;
}

h2#image-title {
    margin: 0px;
    text-align: center;
}



.socialBtn{
    height: calc(100% - 10px);
    width: 10%;
    flex-grow: 1;
    border-radius: 100px;
    border-color: #22AD73;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.column{
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 750px) {
.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
	
}
   
.box2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
	
}

.column {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        
    }
}


.box img{
	border-radius: 20%;
	border: 5px solid #fff;
	height: 350px;
	width: 250px;
}

