@import url('https://fonts.google.com/specimen/Nunito?query=ni');
*{
    font-family: 'Nunito', sans-serif;
    color:white;
}

:root{
    --bg-color:#022433;
}

#myVideo{
    position: fixed;
    left:0;
}

/* .videoLayer{
    position: fixed;
    background-color: rgba(2, 36, 51, 0.9);
    width: 100%;
    height:100%;
    left: 0;
} */

body{
    background-color: #022433;
    
}

.navbar{
    width:100%;
    height:70px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #022433;
    display: flex;
    flex-direction: row;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    min-width:700px;
}

.logocontainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    min-width:150px;
    justify-content:flex-start;
    margin-left: 50px;
}

#menu-icon{
    color:#ffffff;
    font-size: 0px;
    cursor:pointer;
    visibility: hidden;
}

.teamLogo{
    object-fit:contain;
    width: 90%;
}

.navTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    min-width:500px;
    justify-content: space-between;
    margin-right:2%;
    height:100%;
    margin-right: 1%;
}

.navMember{
    margin:auto;
    font-size: 14pt;
    font-weight: 400;
}

.navHeading{
    font-weight: 800;
}


.navLine{
    margin:0%;
    font-size: 18pt;
}

.navIcon{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 10%;
    margin-right: 50px;
    align-items: center;
    height:100%;
}

.contactBtn{
    object-fit: cover;
    height:60%;
}

.hr{
    position: fixed;
    top: 62px;
    left: 0px;
    width: 100%;
    border: 2px solid white;
    z-index: 9999;
}

/* Body starts here */
.body-content{
    margin-top: 5%;
}

/* .Hobby{
    background-image:url(Kiona-imgs/hobby.png);
    

} 
 */
.profile-pic{
    
    width: 400px;
    border-radius: 50%;
    
}

.hobby-img{
object-fit: cover;
    max-width:100%;
    height:auto;
    overflow: scroll;
    
    
}
.school-img{
    border-radius: 50%;
}
.project-img{
    margin-top: 5%;
    width: 400px;
    height: auto;
    overflow: scroll;
    border-radius: 70%;

}

.grid-container{
    display:grid;
    gap:20px;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "hobby  hobby  hobby"
    "profile  education project"
    
    ;
   /*  padding-block: 2rem;
    width: min(95%, 70 rem);
    margin-inline: auto; */

}

.Personal-profile{
    grid-area: profile;
}

.Education{
    grid-area:education;
}

.Project{
    
grid-area:project;
}

.Hobby{
    grid-area:hobby;
}

@media (min-width : 75em){
    .grid-container{
        grid-template-areas: 
        "hobby" "profile"
        "hobby" "profile"
         "education" "project"
        '
        ;
    }
}


@media (min-width : 50em){
    .grid-container{
        grid-template-areas:
        'hobby'
        'profile' 
        'education'
        'project' 
        ;
    }
}

